#root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(148, 113, 180);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
body{
  margin: 0;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 2em;
  background-color: rgb(176, 144, 207);
}
.navbar{
  display: flex;
  width: 30%;
  justify-content: space-around;
}
.navbar > a{
  text-decoration: none;
  color: black;
}
.footer{
  background-color: rgb(116, 116, 253);
}
.contact-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1em;
}